{% extends "layout.html"%} {% block content%}
<style>
    .container{
        width: 100%;
        height: auto;
        
        padding: 15;
    }
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>
<div class="container">
    <table>
        <thead>
            <tr>
                <td>
                    <label for="">Recibir de:</label>                
                </td>
                <td>
                    <input type="text"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Fecha:</label>                
                </td>
                <td>
                    <input type="text"/>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label for="">Recibir de</label>                
                </td>
                <td>
                    <input type="text"/>
                </td>
            </tr>
        </tbody>
        
       
    </table>
</div>

{% endblock%}